.contact_container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.contact_info {
  flex: 1;
}

.contact_form {
  flex: 1;
}

@media (max-width: 768px) {
  .contact_container {
    flex-direction: column;
  }

  .contact_info {
    margin-bottom: 2rem;
  }
}

.contact_info p,
.contact_info strong {
  margin-bottom: 1rem;
}

.contact_info h1 {
  margin-bottom: 2rem;
}

.contact_info a {
  display: block;
  margin-bottom: 1rem;
} 